:root {
    --default-backgound: #02A28F;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

h1{
    font-size: 2.2rem;
    color: #FFF;
}

.container {
    display: grid;
    grid-template-columns: 70% auto;
    grid-column-gap: 1.5rem;
    padding: 3.5rem 8rem;
}

.header-container {
    background-color: var(--default-backgound);
    padding: 1rem 8rem;
    box-shadow: 0 .7rem 1.3rem #0000001A;
}

.featured-post {
    display: flex;
    align-items: flex-end;
    background-image: linear-gradient(180deg, #66666600, #000000), url(../assets/image.png);
    background-size: cover;
    color: #FFF;
    height: 63vh;
    padding: 1.5rem;
    border-radius: 1rem;
    opacity: .9;
}

.featured-post-title > h2 {
    font-size: 2rem;
}

.posts-title {
    display: flex;
    justify-content: space-between;
    background-color: var(--default-backgound);
    color: #FFF;
    font-size: 1.5rem;
    padding: .8rem 1.5rem .8rem 1.5rem;
    border-radius: .8rem;
    box-shadow: 0 .7rem .7rem #0000001A;
}

.popular-posts-card {
    display: flex;
    padding: 1rem;
    margin-top: .8rem;
    border-radius: .7rem;
    box-shadow: 0 .7rem .7rem #0000001A;
}

.popular-posts-card > div > h2 {
    font-size: .9rem;
}

.popular-posts-card > div > p {
    color: #616161;
    font-size: .7rem;
}

.popular-posts-card > img {
    margin-right: 1rem;
}

.categories-container { 
    margin-top: 1.5rem;
}

.categories-tags-container {
    display: flex;
    flex-direction: column;
}

.categories-tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #616161;
    margin-top: 1rem;
}

.recent-posts-container {
    margin-top: 1.5rem;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    margin-top: .7rem;
}

.card {
    box-shadow: 0 .7rem 1.3rem #0000001A;
    border-radius: 1rem;
}

.card > img {
    width: 100%;
}

.card-description {
    padding: 1rem;
}

.card-description > p {
    margin-top: .5rem;
}

.card-description > .card-categorie {
    font-size: .8rem;
    margin-top: 0;
    color: var(--default-backgound)
}

.card-description > h2 {
    margin-top: .5rem;
}

.text-gray {
    color: #616161;
}

.recent-posts-container > .posts-title > p {
    font-size: 0.87rem;
    font-weight: 500;
    text-decoration: underline;
    
}

.container-copyrigth {
    background-color: var(--default-backgound);
    text-align: center;
    color: #FFF;
    font-size: .7rem;
    padding: .8rem 0 .8rem 0;
}

@media only screen and (max-width: 784px){
    h1 {
        font-size: 1.5em;
    }

    .header-container {
        text-align: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        padding: 1.5rem .5rem;
    }

    .cards-container {
        grid-template-columns: 1fr;
    }

    .popular-posts-container{
        margin-top: 1.5rem;
    }

    .posts-title {
        font-size: 1.2rem;
    }
}